.form {
  display: flex;
  justify-content: center;
  align-items: baseline;
  gap: 1rem;

  &__field {
    flex: 1;
    max-width: 400px;
    height: 75px;
  }

  &__button {
    width: 80px;
    height: 50px;
    position: relative;
    bottom: 10px;
    background-color: aqua;
  }
}
